<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:sws="http://www.springframework.org/schema/web-services"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/web-services http://www.springframework.org/schema/web-services/web-services-2.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<sws:annotation-driven />

	<sws:interceptors>
		<bean class="org.springframework.ws.server.endpoint.interceptor.PayloadLoggingInterceptor"/>
	</sws:interceptors>

	<context:component-scan base-package="com.mozu.qbintegration.endpoints" />
	
	<beans:bean id="messageFactory"
		class="org.springframework.ws.soap.saaj.SaajSoapMessageFactory" />

	<beans:bean id="messageReceiver"
		class="org.springframework.ws.soap.server.SoapMessageDispatcher">
		<beans:property name="endpointAdapters">
			<beans:bean
				class="org.springframework.ws.server.endpoint.adapter.DefaultMethodEndpointAdapter">
				<property name="methodArgumentResolvers">
				   <list>
				    <ref bean="marshallingPayloadMethodProcessor"/>
				   </list> 
				  </property>
				  <property name="methodReturnValueHandlers">
				   <list>
				    <ref bean="marshallingPayloadMethodProcessor"/>
				   </list>
				  </property>
			</beans:bean>
		</beans:property>
	</beans:bean>

	<bean id="marshallingPayloadMethodProcessor"
        class="org.springframework.ws.server.endpoint.adapter.method.MarshallingPayloadMethodProcessor">
        <constructor-arg ref="marshaller" />
        <constructor-arg ref="marshaller" />
    </bean>

	<beans:bean id="marshaller"
		class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
		<beans:property name="packagesToScan">
			<beans:list>
				<beans:value>com.mozu.quickbooks.*</beans:value>
			</beans:list>
		</beans:property>
	</beans:bean>
  

	<sws:static-wsdl id="quickbooks" location="classpath:qb-web-connector.wsdl" />

</beans:beans>