<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<div th:include="header :: header"></div>
</head>
<body>

	<div th:fragment="content">
			<div id="ordConflict">
				<div class="row">
					<div class="tab-full-column" >	
						<div style="width:300px; text-align:left;margin:auto; margin-bottom:-25px;">
							<button class="mz-button primary" data-bind="click: postRetryOrderToQB.bind($data,'retry')" style="float:none;">Post</button>
							<button class="mz-button primary" data-bind="click: postRetryOrderToQB.bind($data,'archive')" style="float:none;">Archive</button>
						</div>
					
						<table width="100%">
							<tr>
								<td>
									<table id="orderConflictsTable" class="display">
										<thead>
											<tr>
												<th>
													<input type="checkbox" class="selectAllConflicts" onClick="selectAll('conflictCheck', 'selectAllConflicts')" />
												</th>
												<th><p th:text="#{label.order}"></p></th>
												<th><p th:text="#{label.customerName}"></p></th>
												<th><p th:text="#{label.createdDate}"></p></th>
												<th><p th:text="#{label.updatedDate}"></p></th>
												<th><p th:text="#{label.amount}"></p></th>
												<th><p th:text="#{label.reason}"></p></th>
												<th><p th:text="#{label.action}"></p></th>
		
											</tr>
										</thead>
									</table>
								</td>
							</tr>
						</table>
					</div>	
				</div>
			</div>
			
			<!-- Error processing div -->
			<div id="ordConflictError" style="display: none;">
				<div class="row" >
					<div class="tab-full-column">
						<a href="javascript:void(0);" onclick="javascript:showOrderConflict();"> Back </a> 
					</div>
				</div>
				
				<div class="row">
					<div class="tab-full-column"  style="max-height: 150px; overflow: auto;">
						
						<div class="tab-full-column">
							<div class="comparecontainer">
							    <div class="compareheading">
							         <div class="compare-col">Product Code</div>
							         <div class="compare-col">status</div>
							    </div>
							    <div style="display:table-row-group;width:100%" data-bind="foreach: orderConflictDetails">
								    <div class="compare-table-row"  data-bind="click: $root.clickedRow">
									     <div class="compare-col" data-bind="text: dataToFix"></div>
								         <div class="compare-col" data-bind="text: natureOfConflict"></div>
								    </div>
							    </div>
							</div>
						</div>
						
					</div>
				</div>
				
				<div class="row" data-bind="visible: showItemOptions">
					<div class="tab-full-column" style="margin-top:10px;"></div>
					<div class="tab-first-column">
						<div class="tab-checkbox-container">
							<input name="item_conflict_option" id="item_new" type="radio" data-bind="click: enableNewItem" value="new"></input>
							<label class="tab-checkbox-label" for="newItem">Create New Item</label>
							&nbsp;&nbsp;
							<input name="item_conflict_option" id="item_map" type="radio" data-bind="click: enableExistingItem" value="map"></input>
							<label class="tab-checkbox-label" for="existingItem">Map to Existing Item</label>		
						</div>
					</div>
				</div>
				<div class="row">
					<div class="tab-full-column">
						<div class="notification error" id="conflictErrorDiv" style="display:none;">
							<div class="icon" onclick="closeError()"></div>
							<div id="conflictErrorMessage" class="message"></div>
						</div>
						<div class="notification success" id="conflictSuccessDiv" style="display: none;">
						    <div class="icon"></div>
						    <div class="conflictSuccessMessage" id="conflictSuccessMessage"></div>
						</div>
					</div>
					
				</div>
				<div data-bind="visible: showItemCreate">
					<div class="row">
					    <div class="tab-first-column">
						    <label class="tab-field-label" for="enableCB">Item type</label>
							<select data-bind="options: availableItemTypes, value: itemToFix.selectedChoice"  class="dropdown"></select>
							<label class="tab-field-label" for="field">Item Name/Number</label>
							<input type="text" data-bind="value: itemToFix.itemNameNumber" class="tab-field"></input>
							<label class="tab-field-label" for="field">Description on Purchase Transactions:</label>
							<input type="text" data-bind="value: itemToFix.itemPurchaseDesc" class="tab-field" ></input>
							<label class="tab-field-label" for="field">Cost :</label>
							<input type="text" data-bind="value: itemToFix.itemPurchaseCost" class="tab-field" ></input>
							<label class="tab-field-label" for="field">Sales Information:</label>
							<input type="text" data-bind="value: itemToFix.itemSalesDesc" class="tab-field" ></input>
							<label class="tab-field-label" for="field">Sales Price:</label>
							<input type="text" data-bind="value: itemToFix.itemSalesPrice" class="tab-field"></input>
							
						</div>
						<div class="tab-second-column">
							<label class="tab-field-label" for="field">Manufacturer's Part Number</label>
							<input type="text" data-bind="value: itemToFix.itemManuPartNum" class="tab-field"></input>
							<label class="tab-field-label" for="field">Tax Code:</label>
							<select data-bind="options: availableTaxCodes, value: itemToFix.itemTaxCode, optionsText: 'fullName', optionsValue: 'fullName'"  class="dropdown"></select>
							<label class="tab-field-label" for="field">COGS Account:</label>
							<select data-bind="options: availableAccounts, value: itemToFix.itemExpenseAccount, optionsText: 'fullName', optionsValue: 'fullName'"  class="dropdown"></select>
							<label class="tab-field-label" for="field">Income Account:</label>
							<select data-bind="options: availableAccounts, value: itemToFix.itemIncomeAccount, optionsText: 'fullName', optionsValue: 'fullName'"  class="dropdown"></select>
							<label class="tab-field-label" for="field">Preferred Vendor:</label>
							<select data-bind="options: availableVendors, optionsCaption: 'Please select a vendor', value: itemToFix.selectedVendor, optionsText: 'fullName', optionsValue: 'fullName'"  class="dropdown"></select>
						</div>
					</div>
					<div>
						<a class="button primary-action" data-bind="click: saveItemToQuickbooks" style="float:none;">Save Item</a>
					</div>
				</div>
				
				<div data-bind="visible: showItemMap">
					<div class="row">
					   <div class="tab-full-column">
						  <label for="qbproductsearch">Map Product <span data-bind="text: itemToFix.itemNameNumber" ></span> to </label>
						  <input id="qbproductsearch" class="tab-field" data-bind="value: selectedProductToMap, valueUpdate:'blur'" style="float:none;"></input>
						  <a class="button primary-action" data-bind="click: mapItemToQuickbooks" style="float:none;">Map Item</a>
						</div>
						
					</div>
					<div class="row" style="margin-bottom:20px;"></div>
					<div class="row">
						<div class="tab-first-column" data-bind="visible: !isJobCurrentlyRunning()">
							<a class="mz-button secondary" data-bind="click: getAllProductsFromQB, enable: isJobCurrentlyRunning">Refresh Products From QB</a>
						</div>	
						<div class="tab-first-column" data-bind="visible: isJobCurrentlyRunning">
							<span style="color:red;">A product refresh job is currently running.</span>
							<a class="mz-button secondary" data-bind="click: getProductRefreshStatus">Refresh status</a>
						</div>	
					</div>
				</div>
				
			</div>
		</div>
</body>

</html>
