<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<div th:include="header :: header"></div>
</head>
<body>

	<div th:fragment="content">
		<div id="ordUpdated">
			<div class="row">
				<div class="tab-full-column">
					<table width="100%">
						<tr>
							<td>
								<table id="orderUpdatedTable" class="display">
									<thead>
										<tr>
											<th><input type="checkbox"/></th>
											<th><p th:text="#{label.order}"></p></th>
											<th><p th:text="#{label.customerName}"></p></th>
											<th><p th:text="#{label.createdDate}"></p></th>
											<th><p th:text="#{label.updatedDate}"></p></th>
											<th><p th:text="#{label.amount}"></p></th>
											<th><p th:text="#{label.action}"></p></th>
										</tr>
									</thead>
								</table>
							</td>
						</tr>
					</table>
				</div>
			</div>
			
			<div class="row">
				<div class="tab-first-column">
					<a class="button primary-action" data-bind="click: postUpdatedOrderToQB">Post Selected to Quickbooks</a>
				</div>	
			</div>
			
		</div>
		
		<!-- Compare div -->
		<div id="ordUpdateDetails" style="display: none;">
			<div class="row" >
				<div class="tab-full-column">
					<a href="javascript:void(0);" onclick="javascript:showOrderCompare();"> Back </a> 
				</div>
			</div>
			
			<div class="row">
				<div class="comparecontainer-left" data-bind="with: compare.postedOrder">
				    <div class="compareheading">
				         <div class="compare-col">Posted Order</div>
				    </div>
				    <div class="compare-table-row">
				         <div class="compare-col" data-bind="text: subTotal"></div>
				    </div>
				    <div data-bind="foreach: orderLines">
					    <div class="compare-table-row">
					    	<div class="compare-col" >
					    		<strong><span data-bind="text: fullName"></span></strong>  | 
					    		Qty: <strong><span data-bind="text: quantity"></span></strong> | 
					    		Amount: <strong> <span data-bind="text: amount"></span> </strong>
					    	</div>
					    </div>
				    </div>
				    <div class="compare-table-row" data-bind="with: billAddress">
				    	<div class="compare-col" >
				    		<strong>Billing Address:</strong> <span data-bind="text: addr1"></span>, <span data-bind="text: addr2"></span>,
				    		<span data-bind="text: city"></span>, <span data-bind="text: state"></span>, 
				    		<span data-bind="text: postalCode"></span>, <span data-bind="text: country"></span>
				    	</div>
					</div>
					<div class="compare-table-row" data-bind="with: shipAddress">
				    	<div class="compare-col" >
				    		<strong>Shipping Address:</strong> <span data-bind="text: addr1"></span>, <span data-bind="text: addr2"></span>,
				    		<span data-bind="text: city"></span>, <span data-bind="text: state"></span>, 
				    		<span data-bind="text: postalCode"></span>, <span data-bind="text: country"></span>
				    	</div>
					</div>
				</div>
				
				<div class="comparecontainer-right" data-bind="with: compare.updatedOrder">
				    <div class="compareheading">
				         <div class="compare-col">Updated Order</div>
				    </div>
				    <div class="compare-table-row">
				          <div class="compare-col" data-bind="text: subTotal"></div>
				    </div>
				    <div data-bind="foreach: orderLines">
					    <div class="compare-table-row">
					    	<div class="compare-col">
					    		<strong><span data-bind="text: fullName"></span></strong>  | 
					    		Qty: <strong><span data-bind="text: quantity"></span></strong> | 
					    		Amount: <strong> <span data-bind="text: amount"></span> </strong>
					    	</div>
					    </div>
				    </div>
				    <div class="compare-table-row" data-bind="with: billAddress">
				    	<div class="compare-col" >
				    		<strong>Billing Address:</strong> <span data-bind="text: addr1"></span>, <span data-bind="text: addr2"></span>,
				    		<span data-bind="text: city"></span>, <span data-bind="text: state"></span>, 
				    		<span data-bind="text: postalCode"></span>, <span data-bind="text: country"></span>
				    	</div>
					</div>
					<div class="compare-table-row" data-bind="with: shipAddress">
				    	<div class="compare-col" >
				    		<strong>Shipping Address:</strong> <span data-bind="text: addr1"></span>, <span data-bind="text: addr2"></span>,
				    		<span data-bind="text: city"></span>, <span data-bind="text: state"></span>, 
				    		<span data-bind="text: postalCode"></span>, <span data-bind="text: country"></span>
				    	</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</body>

</html>
