<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<div th:include="header :: header"></div>

</head>
<body>

	<div th:fragment="content">


		<table width="100%">
			<tr>
				<td>
					<table id="orderTable" class="display" cellspacing="0"	width="100%">
						<thead>
							<tr>
								<th><p th:text="#{label.order}"></p></th>
					            <th><p th:text="#{label.customerName}"></p></th>
					            <th><p th:text="#{label.createdDate}"></p></th>
					            <th><p th:text="#{label.updatedDate}"></p></th>					
					            <th><p th:text="#{label.amount}"></p></th>
							</tr>
						</thead>
					</table>
				</td>
			</tr>
		</table>

	</div>
</body>

</html>
