<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>

	<div th:fragment="content">

		<div class="row">
			<div class="tab-full-column">
				<label th:text="#{label.downloadsettings}" class="label-bold"></label>
			</div>
		</div>
		<div class="tab-divider"></div>


		<div class="row">
			<div class="tab-full-column">
				<div><label th:text="#{label.downloadtext}"></label></div>
				
				<table>
					<tr>
						<td>
							<div class="tab-checkbox-container">
								<input type="checkbox" class="orderfilter" id="acceptedCb" data-bind="checked: settings.accepted"></input>
								<label th:text="#{label.accepted}"></label>
							</div>
							<div class="tab-checkbox-container">
								<input type="checkbox" class="orderfilter" id="completedCb"  data-bind="checked: settings.completed"></input>
								<label th:text="#{label.completed}"></label>
							</div>
							<div class="tab-checkbox-container">
								<input type="checkbox" class="orderfilter" id="cancelledCb"  data-bind="checked: settings.cancelled"></input>
								<label th:text="#{label.cancelled}"></label>
							</div>
						</td>
						<td style="padding-left:30px;"></td>
						<td>
							<div class="tab-checkbox-container">
								<input type="checkbox" class="orderfilter" id="paidCb" data-bind="checked: settings.paid"></input>
								<label th:text="#{label.paid}"></label>
							</div>
							<div class="tab-checkbox-container">
								<input type="checkbox" class="orderfilter" id="fulFilledCb"  data-bind="checked: settings.fulFilled"></input>
								<label th:text="#{label.fulfilled}"></label>
							</div>
							<div class="tab-checkbox-container">
								<input type="checkbox" class="orderfilter" id="updatedCb"  data-bind="checked: settings.updated"></input>
								<label th:text="#{label.updated}"></label>
							</div>
						</td>
					</tr>
					
				</table>

			</div>
		</div>
		
		<div class="tab-divider"></div>
		<div class="row">
			<div class="tab-full-column">
				<label th:text="#{label.productMapping}" class="label-bold"></label>
			</div>
		</div>
		<div class="tab-divider"></div>


		<div class="row">
			<div class="tab-full-column">
				<div class="tab-full-column">
					<label class="tab-field-label" th:text="#{label.shipping}"></label>
					<input type="text" id="wsUrl" class="tab-field" data-bind="value : settings.shippingProductCode"  ></input>
					<label class="tab-field-label" th:text="#{label.discount}"></label>
					<input type="text"  class="tab-field" data-bind="value : settings.discountProductCode"></input>
					<label class="tab-field-label" th:text="#{label.giftCardProductCode}"></label>
					<input type="text"  class="tab-field" data-bind="value : settings.giftCardProductCode"></input>
				</div>	
			</div>
		</div>
		
		<div class="tab-divider"></div>
		<div class="row">
			<div class="tab-full-column">
				<label th:text="#{label.taxCodeMapping}" class="label-bold"></label>
			</div>
		</div>
		<div class="tab-divider"></div>


		<div class="row">
			<div class="tab-full-column">
				<div class="tab-full-column">
					<label class="tab-field-label" th:text="#{label.orderTaxable}"></label>
					<input type="text" id="wsUrl" class="tab-field" data-bind="value : settings.orderSalesTaxCode"  ></input>
					<label class="tab-field-label" th:text="#{label.nonTaxable}"></label>
					<input type="text"  class="tab-field" data-bind="value : settings.orderNonSalesTaxCode"></input>
				</div>	
			</div>
		</div>
			
	</div>
</body>
</html>
