<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<div th:include="header :: header"></div>
<script src="js/home.js" type="text/javascript"></script>
<title>Order Table</title>



</head>
<body>

	<div th:fragment="content">

		<div class="container">
			<div class="divBorder">
				<p>
				<h1 class="title">Order Posted</h1>
				</p>
			</div>
			<!-- <form action="#" th:action="@{/jobHistory}" method="post"> -->

			<table class="Table" id="orderTable">
				<thead>
					<tr class="Heading">
						<th><p th:text="#{label.order}"></p></th>
						<th><p th:text="#{label.date}"></p></th>
						<th><p th:text="#{label.customerName}"></p></th>
						<th><p th:text="#{label.amount}"></p></th>					
						
					</tr>
				</thead>

				<tbody id="orderBody">
					<tr id="dummyRow">

						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>

			</table>

			<!-- 	</form> -->

		</div>
	</div>
</body>

</html>
