<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>

	<div th:fragment="content">
		<div class="row">
			<div class="tab-full-column">
				<label th:text="#{label.taxCodeMapping}" class="label-bold"></label>
			</div>
		</div>
		<div class="tab-divider"></div>


		<div class="row">
			<div class="tab-full-column">
				<div class="tab-full-column">
					<label class="tab-field-label" th:text="#{label.orderTaxable}"></label>
					<input type="text" id="wsUrl" class="tab-field" data-bind="value : settings.orderSalesTaxCode"  ></input>
					<label class="tab-field-label" th:text="#{label.nonTaxable}"></label>
					<input type="text"  class="tab-field" data-bind="value : settings.orderNonSalesTaxCode"></input>
                </div>  
                <div class="tab-full-column">
                    <label class="tab-field-label" th:text="#{label.taxableStates}"></label>
					<select class="tab-field" name="State" multiple="true"
					        data-bind="options: availableStates,
					                   optionsText: 'stateName',
					                   optionsValue: 'stateAbbreviation',
					                   selectedOptions: settings.taxableStates"> 
                    </select>
                    <br/>
				</div>	
			</div>
		</div>
			
	</div>
</body>
</html>
